@import "../variables.scss";

.button {
  background-color: $colour3;
  border: 2px solid $colour4;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  height: $form-item-height;
  text-align: center;
}
.button1 {
  float: right;
  margin-top: $form-item-height;
}

.card {
  background-color: $colour2;
  border: 1px solid $colour4;
  margin: 12px 8px;
  padding: $card-padding;
  .card-title {
    color: $colour3;
    font-size: 28px;
    text-align: left;
  }
  .card-details-purchase {
    padding: $card-padding;
    * {
      text-align: right;
    }
  }
}
.card1 {
  width: 280px;
  .card-title {
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
  }
  .card-image {
    height: 320px;
    max-height: 320px;
    overflow: hidden;
  }
  .card-details {
  }
}
.card2 {
  display: grid;
  grid-template-columns: 350px auto;
  padding: 28px 2%;
  .card-title {
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
  }
  .card-details {
    padding: $card-padding;
  }
}
.card3 {
  .card-details {
    display: grid;
    grid-template-columns: 60px auto 100px;
    .card-details-description {
      padding: $card-padding;
    }
    .card-details-purchase {
      .qty-adjust {
        display: grid;
        grid-template-columns: auto 60px;
      }
    }
  }
}

.form-group {
  display: grid;
  grid-template-columns: 210px auto;
  .label {
    font-size: 28px;
    font-weight: bold;
    padding-right: 7px;
    text-align: right;
  }
  .label:after {
    content: " :";
  }
}
.input {
  font-size: 28px;
  margin-bottom: 7px;
  padding-left: 7px;
}
.input1 {
  height: $form-item-height;
}
.input2 {
  height: 280px;
}
.input5,
.input6 {
  border: 2px solid $colour3;
  height: $form-item-height;
  margin-right: 6px;
}

.return-link {
  * {
    color: $colour4;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 35px;
  }
}
