@import "../variables.scss";

.button {
  background-color: $colour3;
  border: 2px solid $colour4;
  cursor: pointer;
  float: right;
  font-size: 18px;
  font-weight: bold;
  height: $form-item-height;
  margin-top: $form-item-height;
  text-align: center;
  width: 140px;
}

.card {
  background-color: $colour2;
  border: 1px solid $colour4;
  margin: 12px 8px;
  padding: $card-padding;
}
.card1 {
  width: 280px;
  .card-title {
    color: $colour3;
    font-size: 28px;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
    text-align: left;
  }
  .card-image {
    height: 320px;
    max-height: 320px;
    overflow: hidden;
  }
  .card-details {
    .card-details-description {
    }
    .card-details-purchase {
      padding: $card-padding;
      * {
        text-align: right;
      }
    }
  }
}

.form-group {
  display: grid;
  grid-template-columns: 210px auto;
  .label {
    font-size: 21px;
    font-weight: bold;
    padding-right: 7px;
    text-align: right;
  }
  .label:after {
    content: " :";
  }
  .input {
    font-size: 21px;
    margin-bottom: 7px;
    padding-left: 7px;
  }
  .input1 {
    height: $form-item-height;
  }
  .input2 {
    height: 280px;
  }
}

.return-link {
  * {
    color: $colour4;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 35px;
  }
}
