@import "../variables.scss";

.layout {
  .menu {
    background-color: $colour3;
    border-bottom: 2px solid $colour4;
    display: grid;
    grid-template-columns: 160px auto;
    height: 42px;
    padding: $menu-padding;
    .title-box {
    }
    .links-box {
      text-align: right;
      .link {
        margin-left: 12px;
      }
      .active-link {
        color: $colour4;
        font-weight: 600;
      }
    }
  }
  .layout-body {
    max-height: calc(100vh - 42px);
    min-height: calc(100vh - 42px);
    overflow-x: hidden;
    overflow-y: scroll;
    .jumbotron {
      background-color: $colour2;
      background-position: center;
      border-bottom: 2px solid $colour4;
      height: 210px;
      padding: $jumbotron-padding;
      .jumbotron-title {
        font-size: 70px;
        text-transform: capitalize;
      }
      .jumbotron-description {
        font-size: 21px;
        margin-top: -14px;
        text-transform: capitalize;
      }
    }
    .child {
      min-height: 100vh;
      padding: $children-padding;
    }
  }
}
