@import "../variables.scss";

.layout {
  .menu {
    background-color: $colour3;
    border-bottom: 2px solid $colour4;
    display: grid;
    grid-template-columns: 160px auto;
    height: 42px;
    padding: $menu-padding;
    .title-box {
    }
    .links-box {
      text-align: right;
      .link {
        margin-left: 12px;
      }
      .active-link {
        color: $colour4;
        font-weight: 600;
      }
    }
  }
  .layout-body {
    max-height: calc(100vh - 42px);
    min-height: calc(100vh - 42px);
    overflow-x: hidden;
    overflow-y: scroll;
    .jumbotron {
      background-color: $colour2;
      background-position: center;
      border-bottom: 2px solid $colour4;
      height: 210px;
      padding: $jumbotron-padding;
      .jumbotron-title {
        font-size: 70px;
        text-transform: capitalize;
      }
      .jumbotron-description {
        font-size: 21px;
        margin-top: -14px;
        text-transform: capitalize;
      }
    }
    .child {
      min-height: 100vh;
      padding: $children-padding;
    }
  }
}

.shop {
  display: grid;
  grid-template-columns: 280px auto;
  .shop-filter {
    background-color: $colour2;
    border: 1px solid $colour4;
    margin: 12px;
    padding: $menu-padding;
    .shop-filter-heading {
      color: $colour3;
      font-size: 21px;
      margin: 6px 4%;
    }
    .shop-filter-buttons {
      padding: 12px 12%;
      .shop-filter-button {
        font-size: 18px;
        padding: 3px 0;
      }
    }
  }
  .shop-items {
    .shop-cards {
      display: flex;
      flex-wrap: wrap;
    }
    .load-more-button {
      background-color: $colour3;
      border: 2px solid $colour4;
      cursor: pointer;
      float: right;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      width: 210px;
    }
  }
}
