$jumbotron-padding: 35px 6%;
$menu-padding: 0 2%;
$children-padding: 42px 4%;
$card-padding: 6px 2%;

$display-font: "Coda", cursive;
$regular-font: "Roboto", sans-serif;

$colour1: #3b2f2f;
$colour2: #fffafa;
$colour3: #43bccd;
$colour4: #f55d3e;

$form-item-height: 42px;
