@import "./variables.scss";

::-webkit-scrollbar {
  background-color: $colour2;
  border-left: 2px solid $colour4;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $colour3;
}

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $regular-font;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: justify;
  text-decoration: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-font;
  text-transform: capitalize;
}

.app {
}

.child {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: rgba($color: $colour2, $alpha: 0.7);
  background-image: url("./media/jumbotron1.jpg");
  background-size: cover;
}

.form {
  max-width: 700px;
}

.link {
  font-size: 21px;
}

.alert {
  color: $colour2;
  margin-top: 90px;
  max-width: 700px;
  padding: 6px;
  text-align: center;
}

.alert-success {
  background-color: $colour3;
}

.alert-failure {
  background-color: $colour4;
}

.card-box-container {
  .card-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 86%;
  }
}
