@import "./variables.scss";

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: justify;
  text-decoration: none;
}

.app {
}
