@import "./variables.scss";

::-webkit-scrollbar {
  background-color: $colour2;
  border-left: 2px solid $colour4;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $colour3;
}

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $regular-font;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: justify;
  text-decoration: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-font;
  text-transform: capitalize;
}

.app {
}
